<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
      margin-top: auto;
    }
    </style>
    <footer class="footer" >
    <div class="footer" style="padding-bottom: 32px" >
     <b>Swandor Hotels & Resorts TOPKAPI PALACE</b>© 2023
    </div>
  </footer>