<%- include("../views/partials/header", { title: 'Swandor', name: 'login' }) %>
<%- include("../views/partials/navbar", {userRole : 'management'})-%>
    <h1></h1>
    
    <div class="alert alert-danger" role="alert">
        This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
      </div>

    
<%- include("../views/partials/footer")-%>