<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f0f0f0;
        }

        .error-image {
            max-width: 300px;
            margin-bottom: 20px;
        }

        .error-message {
            font-size: 24px;
            margin-bottom: 20px;
        }

        .login-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 18px;
            border-radius: 5px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <img src="styles\SwandorTopkapiPalaceLogoSquare.jpg" alt="Error Image" class="error-image">
    <div class="error-message">
        Oops! Something went wrong.
    </div>
    <a href="/login" class="login-button">Go to Login</a>
</body>
</html>
