<header>
    <%- include("../views/partials/header", {title:'Swandor Hotels & Resorts Topkapı Palace'})-%>
</header>
<body>
    <div><h2>Welcome</h2></div>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>