.gradient-custom-2 {
  background: #b8a77a;
  background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
  background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
  .gradient-form {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
  }
}

.text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}

.text-center img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
